<div>
  <nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 📷 Collection Cameras </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item user-nav">
            <a class="nav-link m-1">{{user.name}}</a>
          </li>
          <li class="nav-item">
            <form action="/api/session/logout" method="POST">
              <button type="submit" class="btn btn-sm btn-danger m-2">Logout</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart m-2"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<h1 class="m-5 text-center">Lista de Usuarios no activos</h1>
<section class="mt-6">
  <div class="container">
    <div class="row justify-content-center">
      {{#each users}}
      <div class="mt-5 col-md-4">
        <div class="card mb-4 h-100">
          <div class="card-body text-center">
            <h5 class="card-title">{{first_name}} {{last_name}}</h5>
            <p class="card-text">{{email}}</p>
            <p class="card-text">{{role}}</p>
            <form id="form-eliminar-usuario" action="/api/users/delete" method="POST">
              <input type="hidden" id="email" name="email" value="{{email}}">
              <button type="button" class="btn btn-danger btn-eliminar-usuario" data-email="{{email}}">Eliminar
                Usuario</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<div>
  <h3 class="m-5 text-center">Cambiar el Rol de un usuario</h3>
  <div class="container">
    <div class="row justify-content-center">
      {{#each users}}
      <div class="mt-5 col-md-4">
        <div class="card mb-4 h-100">
          <div class="card-body text-center">
            <h5 class="card-title">{{first_name}} {{last_name}}</h5>
            <p class="card-text">{{email}}</p>
            <p class="card-text">{{role}}</p>
            <form class="change-role-form" method="POST">
    <input type="hidden" name="userId" value="{{email}}">
    <div class="mb-3">
        <label for="newRole" class="form-label">Nuevo Rol</label>
        <select class="form-select" name="newRole">
            <option value="admin">Admin</option>
            <option value="premium">Premium</option>
        </select>
    </div>
    <button type="button" id="changeRole" class="btn btn-primary" data-user-id="{{email}}" data-new-role="premium">Cambiar Rol</button>
</form>


          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/deleteUser.js"></script>