<h1>Lista de productos en tiempo real</h1>
<section class="mt-6">
  <div class="container">
    <div class="row">
      {{#each products}}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{thumbnail}}" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{description}}</p>
              <p class="card-text">{{price}}</p>
              <button class="btn btn-danger" type="button" onclick="deleteProduct({{id}})">
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>


<h3>Eliminar Producto</h3>
<form id="deleteProductForm">
  <input id="Delete" type="text" name="delete" placeholder="Id Producto" class="delete-product-input">
  <button id="deleteProductBtn" type="submit">Eliminar</button>
</form>

<script src="/js/home.js"></script>
