<div class="m-5 text-center">
<h1 class="mt-6 text-center ">Lista de productos</h1>
<section class="mt-6 text-center">
  <div class="container">
    <div class="row justify-content-center">
      {{#each products}}
        <div class=" mt-5 col-md-4">
          <div class="card mb-4 h-100">
            <img src="{{thumbnail}}" style=" height: 200px; object-fit: contain;" class=" img-fluid rounded mx-auto d-block  mt-3 mx-auto my-auto" alt="Product Image">
            <div class="card-body text-center ">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{description}}</p>
              <p class="card-text"> $USD {{price}}</p>
              <p class="card-text">{{id}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</section>
{{!-- AGREGAR PRODUCTOS PERO CON MULTER --}}
<section>
  <div class="container mt-6" style="max-width: 500px">
    <form action="/api/products" method="post">
      <h3 class="is-size-3 mt-5">Ingrese un nuevo producto</h3>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input
          class="form-control is-valid"
          type="text"
          placeholder="Ingrese el nombre del producto"
          value=""
          name="title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea
          value=""
          name="description"
          class="form-control is-valid"
          placeholder="Ingrese una breve descripción del producto"
          rows="3"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Código</label>
        <input
          class="form-control is-valid"
          type="text"
          placeholder="Ingrese el código del producto"
          value=""
          name="code"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input
          class="form-control is-valid"
          type="text"
          placeholder="Ingrese el precio del producto"
          value=""
          name="price"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Stock</label>
        <input
          class="form-control is-valid"
          type="number"
          min="0"
          max="10000"
          value="0"
          name="stock"
        />
      </div>
    <div class="field">
  <label class="label">Imágen</label>
  <div class="control has-icons-left has-icons-right">
    <input
      class="form-control is-success"
      type="file"
      placeholder="suba su imagen"
      value=""
      name="thumbnail"
    >
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-picture"></i>
    </span>
  </div>
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="btn btn-primary btn-light">Guardar</button>
  </div>
</div>
</form>
</div>
</section>
<div class="m-5 text-center">
    <h1 >Bienvenido </h1>
    <label class="form-label">Chat</label>
    <input  placeholder="mensaje" id="chatBox">
    <p id="newUserConnected"></p>
    <p  id="messagesLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetaler2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
