{{!-- <h1>Lista de productos en tiempo real</h1>
{{#each products}}
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>{{code}}</p>
  <p>{{price}}</p>
  <p>{{status}}</p>
  <p>{{stock}}</p>
    <p>{{id}}</p>
  <form id="deleteProductForm">
    <button class="deleteProductBtn" data-productId="{{id}}">Eliminar</button>
  </form>
{{/each}}

<form id="createProductForm">
  <input type="text" id="titleInput" placeholder="title">
  <input type="text" id="descriptionInput" placeholder="description">
  <input type="text" id="codeInput" placeholder="code">
  <input type="text" id="priceInput" placeholder="Price">
  <input type="text" id="statusInput" placeholder="Status">
  <input type="text" id="stockInput" placeholder="Stock">
  <button type="submit">Crear producto</button>
</form> --}}



