<div>
  <h1 class="m-5 text-center">Bienvenid@, {{user.name}}</h1>
  <ul class="list-unstyled text-center">
    <li><strong>Nombre:</strong> {{user.name}}</li>
    <li><strong>Email:</strong> {{user.email}}</li>
    <li><strong>Rol:</strong> {{user.role}}</li>
     <form action="/api/sessions/logout" method="POST"> <!-- Verifica que la acción del formulario sea /api/sessions/logout -->
       <button type="submit" class="btn btn-danger m-2">Cerrar sesión</button>
    </form>
  </ul>
</div>
  <h1 class="m-5 text-center">Lista de productos con paginación</h1>
  <section class="mt-6">
    <div class="container">
      <div class="row justify-content-center">
        {{#each products}}
          <div class="mt-5 col-md-4">
            <div class="card mb-4 h-100">
              <img
                src="{{thumbnail}}"
                style="width: 150px; height: 200px; object-fit: contain;"
                class="img-fluid rounded mx-auto d-block mt-3 mx-auto my-auto"
                alt="Product Image"
              />
              <div class="card-body text-center">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{category}}</p>
                <p class="card-text">$USD {{price}}</p>
                <form action="/products/addToCart/{{id}}" method="POST">
                  <button type="submit" class="btn btn-success m-2">Agregar al
                    carrito</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  <div class="pagination justify-content-center">
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}"><button
          class="btn btn-secondary m-5"
        >Anterior</button></a>

    {{/if}}
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}"><button
          class="btn btn-secondary m-5"
        >Siguiente</button></a>

    {{/if}}
  </div>
</div>